body {
    color: #3E5569;
    background-color: #FFFFFF;
    font-family: 'Segoe UI', Verdana, Tahoma, sans-serif;
    font-size: 14px;
    padding: 5px 0; 
}

a {
    color: #009F9F;
}

h2 {
    font-size: 16px;
    text-transform: uppercase;
    margin: 1px 2px 0 2px;
}

p {
    margin: 0 2px 1px 2px;
}

.header {
    background-color: #FFFFFF;
    margin: 5px 0 0 0;
}

.container {
    width: 100%;
    background-color: #F3F3F3; 
    margin-top: 0 auto;
}

.section {
    width: 100%;
    padding: 10px 8px 10px 8px;
    margin: 5px auto 5px auto;
}

.footer {
    width: 100%;
    background-color: #FFFFFF;  
    color: #7A8A91;
    font-size: 12px;
    font-weight: light;  
    margin: 5px auto 15px auto;        
}

.module {
    color: #FFFFFF;
    padding: 0 4px 2px 4px;
    background-color: #EB8E5E;
    border-radius: 3px;
    font-weight: 600;
}

.bold {
    font-weight: 600;
}

figure {
    background-color: #F3F3F3;
    padding: 15px 10px;
    font-size: 12px;
    font-style: italic;
    margin: 5px 0;
    border-radius: 5px;
    width: 235px;
    text-align: center;
}

.screenshot {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 0 0 5px 0;
}